<h1 class="text-center">Twoje rezerwacje</h1>
  <div class="row justify-content-center">
    <form class="form-inline" #form="ngForm" ngSubmit="loadReservations()" novalidate>
      <div class="form-group mx-1">
        <label for="start">Data:</label>
        <input
          type="text"
          [(ngModel)]="reservationParams.start"
          style="width: 140px;"
          id="start"
          name="start"
          class="form-control ml-1"
          bsDatepicker
        />
      </div>

      <div class="form-group mx-1">
        <label for="pingPongTableId">Id stołu:</label>
        <input
          type="text"
          [(ngModel)]="reservationParams.pingPongTableId"
          style="width: 140px;"
          class="form-control ml-1"
          id="pingPongTableId"
          name="pingPongTableId"
        />
      </div>
      <div class="form-group px-1">
        <label for="reservationStatus">Status:</label>
        <select
          class="form-control ml-1"
          [(ngModel)]="reservationParams.reservationStatus"
          id="reservationStatus"
          name="reservationStatus"
        >
        <option value=""></option>
          <option *ngFor="let status of ReservationStatus | enumToArray" [value]="status">
            {{ status | translate }}
          </option>
        </select>
      </div>
      <div class="btn-group form-group mx-1" dropdown>
        <button
          id="button-animated"
          dropdownToggle
          type="button"
          class="btn btn-info dropdown-toggle"
          aria-controls="dropdown-animated"
        >
          Sortowanie <span class="caret"></span>
        </button>
        <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
          <li role="menuitem">
            <a (click)="reservationParams.orderBy = 'start'; getReservations()" class="dropdown-item">Data</a>
          </li>
          <li role="menuitem">
            <a (click)="reservationParams.orderBy = 'pingPongTableId'; getReservations()" class="dropdown-item"
              >Stoły</a
            >
          </li>
        </ul>
      </div>
      <div class="form-group mx-1">
        <button type="submit" class="btn btn-primary" (click)="getReservations()">Zastosuj</button>
      </div>

      <div class="form-group mx-1">
        <button type="button" class="btn btn-secondary" (click)="resetFilters()">Resetuj</button>
      </div>
    </form>
  </div>
  <div *ngIf="userReservations">
  <div class="row justify-content-center mt-3">
    <table class="table table-striped col-6" aria-labelledby="tableLabel">
      <thead>
        <tr>
          <th>Data</th>
          <th>Godzina</th>
          <th>Stół</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of userReservations">
          <td>{{ reservation.start.toLocaleDateString() }}</td>
          <td>{{reservation.start.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'})}}-{{ reservation.end.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'})}}</td>
          <td>{{ reservation.pingPongTableId }}</td>
          <td>{{ReservationStatus[reservation.reservationStatus]|translate}}</td>
          <td>
            <button *ngIf="reservation.reservationStatus==ReservationStatus.Active" type="button" class="btn btn-danger btn-sm ml-3" (click)="cancelReservation(reservation)">
              Anuluj!
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row justify-content-center">
    <pagination
      [boundaryLinks]="true"
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerPage"
      (pageChanged)="pageChanged($event)"
      [(ngModel)]="pagination.currentPage"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    >
    </pagination>
  </div>
</div>
