<form class="form-inline mt-2 mb-2" #form="ngForm" ngSubmit="loadUsers()" novalidate>
  <div class="form-group px-1" >
    <label for="id">Id:</label>
    <input type="number" [(ngModel)]="userParams.id" class="form-control ml-1" style="width: 60px" id="id" name="id">
  </div>
  <div class="form-group px-1">
    <label for="fistName">Imię:</label>
    <input type="text" [(ngModel)]="userParams.firstName" class="form-control ml-1" style="width: 100px" id="fistName" name="fistName">
  </div>

  <div class="form-group px-1">
    <label for="lastName">Nazwisko: </label>
    <input type="text" [(ngModel)]="userParams.lastName" class="form-control ml-1"  style="width: 140px" id="lastName" name="lastName">
  </div>

  <div class="form-group px-1">
    <label for="email">Email:</label>
    <input type="text" [(ngModel)]="userParams.email" class="form-control ml-1" style="width: 140px" id="email" name="email">
  </div>

  <div *appHasRole="['Administrator']" class="form-group px-1">
    <label for="gender">Rola:</label>
    <select class="form-control ml-1" [(ngModel)]="userParams.role" id="gender" name="gender">
      <option *ngFor="let role of roles" [value]="role">
        {{role|translate}}
      </option>
    </select>
  </div>
  <div class="form-inline">
    <div class="form-group btn-group px-1" dropdown>
      <button id="button-animated" dropdownToggle type="button" class="btn btn-info dropdown-toggle"
              aria-controls="dropdown-animated">
        Sortowanie <span class="caret"></span>
      </button>
      <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-animated">
        <li role="menuitem"><a (click)="userParams.orderBy='id';loadUsers()" class="dropdown-item">Id</a></li>
        <li role="menuitem"><a (click)="userParams.orderBy='lastName';loadUsers()" class="dropdown-item">Alfabetycznie</a></li>
      </ul>
    </div>
    <div class="form-group px-1">
      <button type="submit" class="btn btn-primary px-1" (click)="loadUsers()">Zastosuj</button>
    </div>
    <div class="form-group px-1">
      <button type="button" class="btn btn-secondary px-1" (click)="resetFilters()">Resetuj</button>
    </div>
  </div>
</form>
<div *ngIf="users" >
  <table class='table' aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th>Id</th>
        <th>Email</th>
        <th *appHasRole="['Administrator']">Rola</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let user of users">
        <tr class="clickable-tr"
          (click)="user.expanded = !user.expanded">
          <td>{{user.id}}</td>
          <td>{{user.email}}</td>
          <td *appHasRole="['Administrator']">{{user.role|translate}}</td>
        </tr>
        <tr *ngIf="user.expanded">
          <td colspan="100%">
            <div class="row">
              <div class="col-8">
                <b>Imię:</b> {{user.firstName}} 
                <b>Naziwsko:</b> {{user.lastName}} <br>   
              </div>
              <div class="col-4">
                <button *appHasRole="['Administrator']" type="button" (click)="openRoleEditModal(user)" class="btn btn-primary mr-2">Zmień rolę</button>
                <button *appHasRole="['Administrator']" type="button" (click)="deleteUser(user)" class="btn btn-danger">Usuń użytkownika!</button>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <div class="row justify-content-center">
    <pagination 
    [boundaryLinks]="true" 
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    (pageChanged)="pageChanged($event)"
    [(ngModel)]="pagination.currentPage"
    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
  </pagination>
  </div>
</div>

